.request-settings-box {
    width: 360px;
    /* height: 161px; */
    background-color: #3E3C41;
    font-family: 'Roboto';
    line-height: 100%;
    letter-spacing: 0%;
}

.request-settings-box__dates {
    width: 100%;
    padding: 43px 36px 0 28px;
    box-sizing: border-box;
}

/* .request-settings-box__dates__title {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
 */
.request-settings-box__dates__input {
    width: 100%;
    height: 43px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
    color: #292929;
    margin-bottom: 30px;
    padding: 2px 8px;
}

.request-settings-box__conveniences {
    border-top: 1px solid #E5E5E5;
    padding: 43px 36px 0 28px;
}

.request-settings-box__conveniences_item {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.request-settings-box__conveniences_item__logo {
/*     width: 17px;
    height: 17px; */
    margin-right: 34px;
}

.request-settings-box__conveniences_item__name {
    width: 102px;
    margin-right: 33px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.request-settings-box__conveniences_item__switch__input {
    display: none;
}

.request-settings-box__conveniences_item__switch__lab {
    display: inline-block;
    width: 72px;
    height: 19px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.insit-lab {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-top: -4px;
    cursor: pointer;
}

.request-settings-box__conveniences_item__switch__input:checked + .request-settings-box__conveniences_item__switch__lab {
    text-align: right;
    background-color: #FCDC9D;
}

.request-settings-box__conveniences_item__switch__input:checked + .request-settings-box__conveniences_item__switch__lab > .insit-lab {
    background-color: #FFA800;
}

.request-settings-box__cost {
    border-top: 1px solid #E5E5E5;
    padding: 43px 36px 0 28px;
    position: relative;
    height: 187px;
}

.request-settings-box__time-trip {
    border-top: 1px solid #E5E5E5;
    padding: 43px 36px 34px 28px;
    cursor: pointer;
}

.request-settings-box__time-trip__heder {
    display: flex;
    align-items: baseline;
}

.request-settings-box__time-trip__heder__name {
    margin-left: 12px;
    width: 230px;
}

.request-settings-box__time-trip__toltip {
    height: 263px;
    box-sizing: border-box;
    cursor: auto;
}

.request-settings-box__time-trip__toltip__title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E5E5E5;
    margin-top: 22px;
    margin-bottom: 19px;
}


/* MODS */
.rs-titles {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.toltip-title-mode {
    text-align: right;
}