.reviews-item-box {
    width: 641px;
    /* box-sizing: border-box; */
    display: flex;
}

.reviews-item-box__foto {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url(./img/avatar.svg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 50%;
    margin-right: 41px;
}

.reviews-item-box__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.reviews-item-box__content__name {
    font-weight: 500;
    line-height: 36px;
}

.reviews-item-box__content__text {
    font-weight: 300;
    font-style: italic;
    text-indent: -10px;
}

.reviews-item-box__content__text::before {
    content: '"';
    font-weight: 500;
    font-size: 36px;
    color: #928F94;
}

.reviews-item-box__content__text::after {
    content: ' ,,';
    font-weight: 500;
    font-size: 36px;
    color: #928F94;
}