.slider-compoent {
    display: inline;
    padding: 2%;
    /* background: #FFA800; */
}

.noUi-target {
    background-color: #3E3C41;
    border-radius: 8px;
    box-shadow: none;
    height: 20px;
}

.noUi-connect {
    background-color: #FFA800
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-handle {
    border-radius: 50%;
    box-shadow: none;
    background-color: #FFFFFF;
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -2px;
    cursor: pointer;
}

.slider-compoent__value {
    /* background: green; */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E5E5E5;
    display: inline;
}

/* MODS */
.top-content {
    margin-bottom: 8px;
    display: inline-block;
}

.value-right {
    margin-left: 75%;
}

.value-right2 {
    margin-left: 250px;
}
